
/node_modules/

# Compiled public files
/app/bundle/
/app/css/*.css
/app/css/*.css.map

# TypeScript compilation results
# and non renderer-safe files
/backend/

# OS specific files
.DS_Store
.AppleDouble
.LSOverride

*.ini